# Virtual environments
venv/
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data files (downloaded datasets, kept out of git for now)
Beginner/**/*.csv
Beginner/**/*.txt
Beginner/**/*.xlsx
Beginner/**/*.xls
Beginner/**/*.doc
Beginner/**/*.docx
Beginner/**/*.jpg
Beginner/**/*.jpeg


# OS
.DS_Store
