# Virtual environments
venv/
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data files (downloaded datasets, kept out of git for now)
Beginner/Sentiment_analysis/AirlineTweets.csv
Beginner/Text_Generation/robert_frost.txt
Beginner/Masked_Language_Modeling/bbc_text_cls.csv
# *.xlsx
# *.xls

# OS
.DS_Store
